@media screen and (min-width:600px) and (max-width:960px) {
    nav div {
        width: 750px;
        margin: 0 auto;
        height: 80px;
        line-height: 80px;
    }

    nav div img {
        height: 45px;
        margin-left: 100px;
        margin-top: 0px;
    }

    section {
        width: 750px;
    }

    section .title {
        font-size: 11px;
    }

    section .title span {
        font-size: 16px;
    }

    section .box {
        width: 700px;
        margin: 15px auto;
    }

    section .box .boxitem .inpBox {
        width: 200px;
    }

    section .box .boxitem .single {
        width: 300px;
        font-size: 13px;
    }

    section .box .boxitem .check {
        flex-wrap: wrap;
    }

    section .box .boxitem .check .wids {
        width: 85%;
    }

    section .box .boxitem {
        padding: 8px 0;
    }

    footer {
        font-size: 12px;
        height: 45px;
    }

    .bgc-center {
        width: 80%;
        font-size: 14px;
        height: 60vh;
        overflow: auto;
    }

    .notice_title {
        font-size: 16px;
    }

    .notice_btn div {
        font-size: 14px !important;
    }
}

@media screen and (max-width:600px) {
    nav div {
        width: 80%;
        padding: 12px 0;
        margin: 0 auto;
        text-align: center;
    }

    nav div img {
        height: 40px;
        margin-top: 0;
    }

    section {
        width: 100%;
        overflow: hidden;
    }

    section .title {
        font-size: 11px;
    }

    section .title span {
        font-size: 16px;
    }

    section .box {
        width: 100%;
        margin: 8px auto;
    }

    section .box .boxTitle {
        font-size: 14px;
        padding-left: 12px;
    }

    section .box .boxitem {
        flex-wrap: wrap;
        align-items: flex-end;
    }

    section .box .boxitem .single,
    section .box .boxitem .check {
        width: 90%;
        margin: 6px auto;
        text-align: center;
    }

    section .box .boxitem .inpBox {
        width: 74%;
    }

    .wids {
        width: 75%;
    }

    .leftBox {
        width: 70%;
    }

    section .box .boxitem {
        font-size: 12px;
        width: 90%;
        margin: 0 auto;
    }

    .fsz {
        font-size: 14px !important;
    }

    .btn {
        padding: 8px 40px !important;
        font-size: 12px !important;
        margin: 15px auto !important;
    }

    footer {
        font-size: 8px;
        height: 40px;
        line-height: 40px;
    }

    .bgc-center {
        width: 80%;
        padding: 12px;
        font-size: 12px;
        line-height: 25px;
        overflow: auto;
        height: 60vh;
    }

    .notice_title {
        font-size: 14px;
    }

    .notice_btn div {
        padding: 4px 18px !important;
        margin: 15px !important;
        border-radius: 24px !important;
        font-size: 12px !important;
    }

    .container {
        max-width: 600px !important;
        width: 80% !important;
    }

}
.ejectQm .qmClose{
    position: absolute;
    right: -8px;
    top: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #fff;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.5);
    font-size: 20px;
    cursor: pointer;
}